<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="shortcut icon" href="../../media/Designer.png" type="image/x-icon">

</head>
<body>
    Auction Admin Home
    <a href="getform"><button type="button" onclick="loadForm('auction')"> Create Auction </button></a>
    <a href="addplayer"><button type="button" onclick="loadForm('team')"> Add Team </button></a>
    <a href="addteam"><button type="button" onclick="loadForm('player')"> Add Player </button></a>

    <form action="startauction" method="POST">
        {% csrf_token %}
        {% if auctions != None %}
        <select name="auctionid" id="auctionid">
            {% for auction in auctions %}
            <option value="{{ auction.auctionId }}">{{ auction.auctionName }}</option>
            {% endfor %}
            
            {% endif %}
        </select>
        <button onclick="document.forms[0].action += '/' + document.getElementById('auctionid').value"> StartAuction </button></a>
    
    

    </form>
    <div id="container">
        {% block  content %} {% endblock %}
    </div>

    


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const loadForm = (form)=>{
            switch(form){
                case 'auction':
                    $('#container').load('getform?form=createauction')
                    break;
                    
                    case 'team':
                    $('#container').load('getform?form=addteam')
                    break;
                    
                    case 'player':
                    $('#container').load('getform?form=addplayer')
                break;
            }
                
        }

        const submit = (e)=>{
            e.preventDefaults()
        fetch('getcaptain',{
            method:'POST',
            headers: { "X-CSRFToken": csrf_token, 'Content-Type':'application/json' },
            body : JSON.stringify(document.forms[0])
        })
        .then((res)=>res.json())
        .then((data)=>{
            console.log(data)
        })

    }   
        
    </script> -->
</body>
</html>