<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        adminId : <input type="text" name="adminId" id=""><br>
        email : <input type="text" name="email" id=""><br>
        password : <input type="text" name="password" id=""><br>
        Name : <input type="text" name="name" ><br>
        <button> Submit </button>
    </form>
</body>
</html>