<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="shortcut icon" href="../../media/Designer.png" type="image/x-icon">

</head>
<body>
    {% if message  %}
        {{ message}}
    {% endif %}
    <h1> Admin & other entities login from here</h1>
    <form action="login" method="post">
        {% csrf_token %}
        email : <input type="email" name="email" id="email"><br>
        password : <input type="password" name="password" id="password"><br>
        {% if user == "player" %}
            <input type="hidden" name="user" value="3">
        {% endif %}

        {% if user == "team" %}
        <input type="hidden" name="user" value="2">
        {% endif %}

        {% if user == "auctionadmin" %}
        <input type="hidden" name="user" value="1">
        {% endif %}


        <input type="submit" value="submit">
    </form>
</body>
</html>