<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Profile</title>
    <link rel="shortcut icon" href="../../media/Designer.png" type="image/x-icon">

</head>
<body>
    <h1> Player Profile</h1>
    <img src="{{ profile.image }}" alt="" height="200px" width="200px" style="border-radius: 10%;">
    <div> <b>{{ profile.playerId }}</b></div>
    <div> {{ profile.name }}</div>
    <div> {{ profile.email }}</div>
    <div> {{ profile.role }}</div>
    <div> {{ profile.battingStyle }}</div>
    <div> {{ profile.bowlingStyle }}</div>
    {% if profile.gender == 1 %}
    <div> Male </div>
    {% else %}
    <div> Female </div>
    {% endif %}
</body>
</html>